.plat-slogan{
	display: flex;
	align-items: flex-end;
	margin-left: 10rpx;
	font-size: 40rpx;
	color: #d81e06;
	font-style: italic;
	font-weight: bold;
	height: 170rpx;
	background-color: #ffffff;
	text{
		margin-bottom: 30rpx;
	}
}
