.list-item {
	display: flex;
	flex-wrap: wrap;
	background-color: #f7f7f7;
		
	.item {
		display: flex;
		width: 100%;
		height: 240rpx;
		margin: 5rpx 10rpx 10rpx 10rpx;
		background-color: #ffffff;
		border-radius: 10rpx;
		.pictrue {
			display: flex;
			width: 220rpx;
			margin: 10rpx 10rpx 0rpx 20rpx;
			.image{
				border-radius: 10rpx;
				height: 220rpx;
				background-color: #ffdeaf;
			}
		}
		.info {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			height: 220rpx;
			margin-top: 10rpx;
			.title {
				width: 450rpx;
				// height: 80rpx;
				margin-top: 10rpx;
				margin-bottom: 30rpx;
				
				overflow: hidden;
				text-overflow: ellipsis;
				display: -webkit-box;
				-webkit-line-clamp: 2;
				-webkit-box-orient: vertical;
				white-space: normal;
				font-size: 26rpx;
				// font-family: sans-serif;
				font-family: monospace;
				font-weight: bold;
				color: #333333;
			}

			.priceInfo {
				display: flex;
				align-items: center;
				
				text{
					font-size: 24rpx;
					font-weight: normal;
					color: #7e7d7d;
				}
				.origin-price-title{
					
				}
				.origin-price-amount{
					text-decoration: line-through;
				}
				
				.coupon-price-title{
					margin-left: 20rpx;
					color: #ff0000;
				}
				.coupon-price-amount {
					color: #ff0000;
					font-size: 30rpx;
				}
				
				.coupon-amount{
					color: #ff0000;
					font-size: 26rpx;
					font-weight: 600;
					padding-right: 50rpx;
					margin-left:auto;
				}
			}
			.other {
				display: flex;
				justify-content: space-between;
				text{
					margin-right: 30rpx;
					font-size: 20rpx;
					font-weight: normal;
					color: #7e7d7d;
				}
			}
		}
	}

}
