.category{
	display: flex;
	align-items: center;
	// 横向滚动
	justify-content: space-between;
	overflow-x: auto;
	// 盒子
	margin-top: 10rpx;
	height: 100rpx;
	background-color: #f7f7f7;
	border-radius: 10rpx;
	
	
	// 字体
	color: 	#505050;
	font-size: 32rpx;
	font-weight: 600;
	font-family: sans-serif;
	
	.category-item {
		// 横向滚动
		flex-basis: 40rpx;
		flex-shrink: 0;
		white-space: nowrap;
		margin-left: 40rpx;
	}
	.category-item-selected{
		color: #e10000;
		font-size: 35rpx;
		border-bottom: 3px solid #e10000;
		padding-bottom: 3px;
	}
	
}

::-webkit-scrollbar {
  /* 隐藏滚动条 */
  display: none;
}
