.goods-nav {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-between;
	background-color: #ffffff;
	height: 100rpx;
	width: 100%;
	padding-bottom: 20rpx;
	
	position: fixed;
	z-index: 2;
	bottom: 0rpx;

	margin-left: 20rpx;
	.nav-item {
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: center;
		align-items: center;
		
		padding-left: 30rpx;
		padding-right: 30rpx;
		
		.nav-icon {
			height: 40rpx;
			width: 40rpx;
			// background-image: url(../../static/serve-tag.png);
			// background-image:  url(../../static/shoucang-1.png);
			background-size: 40rpx;
			background-position: center;
			background-repeat: no-repeat;
		}
		.favorite-icon{
			background-image: url(../../static/shoucang.png);
		}
		.favorite-selected-icon {
			background-image: url(../../static/shoucang-1.png);
		}
		.recommend-icon{
			background-image: url(../../static/tuijian.png);
		}
		.recommend-selected-icon {
			background-image: url(../../static/tuijian-1.png);
		}
		.share-icon{
			background-image: url(../../static/share.png);
		}
		.nav-title {
			font-size: 20rpx;
			color: #2c2c2c;
			
		}
	}
	
	.link-arrive {
		width: 350rpx;
		height: 70rpx;
		background-color: #ff0000;
		border-radius: 35rpx;
		

		display: flex;
		justify-content: center;
		align-items: center;
		margin-right: 30rpx;
		margin-left: 20rpx;
		
		.link-arrive-title {
			color: #ffffff;
			font-size: 34rpx;
			font-weight: 600;
		}
	}

}