.search-line{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 50rpx;
	margin-left: 10rpx;
	margin-right: 10rpx;
	border: 2rpx solid ;
	color: #d81e06;
	border-radius: 50rpx;
	
	.search-logo{
		margin-left: 10rpx;
		height: 40rpx;
		width: 40rpx;
	}
	.search-note{
	
	}
	.search-button{
		display: flex;
		justify-content: center;
		align-items: center;
		height: 40rpx;
		width: 80rpx;
		font-size: 25rpx;
		color: #ffffff;
		background-color: #f11e06;
		margin-right: 7rpx;
		border-radius: 50rpx;
	}
}
